@tailwind base;

@import url(https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap);

html.factor-app {

    /* primary colors */
    --color-primary-darker: theme('colors.blue.900');
    --color-primary: theme('colors.blue.800');
    --color-primary-lighter: theme('colors.blue.700');
    
    /* secondary colors */
    --color-secondary-darker: theme('colors.green.900');
    --color-secondary: theme('colors.green.800');
    --color-secondary-lighter: theme('colors.green.700');

    /* lighgray colors */
    --color-lightgray-darker: theme('colors.gray.300');
    --color-lightgray: theme('colors.gray.200');
    --color-lightgray-lighter: theme('colors.gray.100');

    /* darkgray colors */
    --color-darkgray-darker: theme('colors.gray.900');
    --color-darkgray: theme('colors.gray.800');
    --color-darkgray-lighter: theme('colors.gray.700');

    --color-text: var(--color-darkgray-darker);
    --color-border: var(--color-lightgray-darker);

    /* background colors */
    --color-bg: var(--color-lightgray-lighter);
    --color-bg-contrast: var(--color-lighgray-darker);
    --color-bg-highlight: #ffffff;

    --color-placholder: var(--color-lightgray);
    --font-family-primary: theme('fontFamily.body');
}

#app h1, h2, h3 {
    @apply font-heading;
}

.markdown {
    h1 {
        @apply font-black text-2xl mt-4 mb-3
    }
    h2 {
        @apply font-bold text-xl mt-3 mb-2
    }
    h3 {
        @apply font-semibold text-lg mt-2 mb-1
    }
    ul {
        @apply list-disc list-inside
    }
}

@tailwind components;
@tailwind utilities;